<div class="row container-fluid g-0 ifooter">
  <hr>

  <div class="col-md-4" id="improve-des">
    <h4>Do you want to improve this page?</h4>
    <p>*Edit the source code on <a href="https://github.com/CosBett/Uni-Quotes-App">Github</a>*</p>
    <p>*Contribute on <a href="https://github.com/CosBett/Uni-Quotes-App">Github</a>*</p>
    <p>*Report any issue here<a href="https://github.com/CosBett/Uni-Quotes-App">Github</a>*</p>
  </div>
  <div class="col-md-4"></div>

  <div class="col-md-3">
    <h4>Get in touch</h4>
    <div class="d-flex justify-content-around">
      <a href="https://github.com/CosBett" target="_blank"><i class="fa fa-github-square"></i></a>
      <a href="https://www.facebook.com/Cosmas.bett.mandellah" target="_blank"><i class="fa fa-facebook-square"></i></a>
      <a href="https://www.linkedin.com/in/CosmasbettM" target="_blank"><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
  <div class="col-md-2"></div>
  <p id="signature">© Copyright 2021. All Rights Reserved (cosbett). </p>

</div>