* {
  background-color: rgba(0, 0, 0, 0.952);
}

.navbar {
  height: 10vh;
}

#top-navbar {
  display: flex;
  justify-content: space-between;
}

#nav-color {
  color: #24E493;
  font-family: 'Luxurious Roman', cursive;
  font-size: 18px;
}