<div>
  <nav class="navbar navbar-expand-lg  mb-1 mt-4">
    <div class="container-fluid " id="top-navbar">
      <div id="">
        <a class="navbar-brand" href="#" id="nav-color">Home</a>
        <button id="nav-color" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span id="nav-color"><i class="fa fa-bars"></i></span>
      </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="nav-color">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" id="nav-color" href="#">Quotes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="nav-color">Add Quote</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>