<div class="container-fluid landingpage ">
  <div class="row container-fluid g-0">
    <div class="col-md-5 d-flex align-items-center">
      <div class="mt-2">
        <h1 id="appname">Uni-Quotes App</h1>
        <h3 id="about">About</h3>
        <p id="about-des">Quotes gives you the emotional supports, encourages you to focus and work hard on a daily basis. This web application inspires you with a variety of quotes and gives you opportunity to inspire others by adding voting you favorite inspiring quotes.
          it also enable you to down vote and delete terrible quotes</p>
      </div>
    </div>
    <div class="col-md-7 mt-3 ml-3">
      <img src="../../assets/homepage.jpg" class="img-fluid" alt="addquote.jpg" id="addquote">
    </div>
    <div class="d-flex justify-content-around mt-4">
      <button id="quote-btn">View Quotes </button>
      <button id="quote-btn"> Add Quote</button>
    </div>
  </div>
</div>